.container {
  max-width: 500px;
  margin: 0 auto ;
  text-align: center;
}

.title {
  color: #0c9fe9;
  font-size: 2em;
  line-height: 1.1;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}

.message {
  height: 1.5em;
}

.followAll {
  margin: 8px 0;
  color: #fff;
  background: rgb(0,162,230);
  background: linear-gradient(142deg, rgba(0,162,230,1) 0%, rgba(2,203,251,1) 70%, rgba(52,222,255,1) 100%);
  
  transition: filter 0.25s;
}

.followAll:hover {
  filter: brightness(1.05);
}

.followAll[disabled] {
  background: rgb(0,162,230);
  background: linear-gradient(142deg, rgba(0,162,230,1) 0%, rgba(2,203,251,1) 70%, rgba(52,222,255,1) 100%);
  opacity: 0.5;
  cursor: default;
}

.followAll[disabled]:hover {
  filter: none;
}

.followers {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.btnLogout {
  position: absolute;
  top: 20px;
  right: 8px;
  padding: 0;
  background: none;
}

.linkToRepo {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
