.title {
  color: #0c9fe9;
  font-size: 2em;
}

.followAll {
  color: #fff;
  background: rgb(0,162,230);
  background: linear-gradient(142deg, rgba(0,162,230,1) 0%, rgba(2,203,251,1) 70%, rgba(52,222,255,1) 100%);
  filter: brightness(0.95);
  transition: filter 0.25s;
}

.followAll:hover {
  filter: brightness(1.05);
}
