.container {
  display: grid;
  grid-template-areas: "avatar name";
  grid-template-columns: 40px 1fr;
  column-gap: 12px;
  height: 48px;
  align-items: center;
}

.avatarArea {
  grid-area: avatar;
  display: flex;
  align-items: center;
  margin: 0;
}

.avatar {
  height: 40px;
  border-radius: 50%;
  border: solid 1px #dbe6e7;
}

.avatarPlc {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #dbe6e7;
}

.nameArea {
  grid-area: name;
  display: flex;
}

.displayName {
  font-weight: bold;
}

.handle {
  margin-left: 4px;
  font-size: 0.8em;
  color: #718081;
}

.following {
  margin-left: 4px;
  font-size: 0.8em;
  color: #0c9fe9;
}
